---
/** biome-ignore-all lint/correctness/noUnusedImports: false positive */
import { Code } from 'astro:components';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';

const usageExampleOne = `<wc-beru></wc-beru>
<div id="app">
  <button id="btn">Push me</button>
</div>
`;

const usageExampleTwo = `import { toast } from 'wc-beru';

const button = document.getElementById('btn')

button.addEventListener('click', () => {
  toast.display('Hello world from WcBeru')
})`;

const optionalParamsExample = `toast.display('Hi Jhon', {
    description: 'This is a message from wc-beru',
    closeButton: true,
    beruId: 'my-toast'
})`;
---

<Layout>
	<HeroSection></HeroSection>
	<section class="container">
		<h2>Uso</h2>
		<p>Una vez instalado, debes ubicarte en tu <span>index.html</span> y usar la etiqueta <span>wc-beru</span>.</p>
		<Code code={usageExampleOne} theme="catppuccin-latte" lang="html"></Code>
		<p>Asumiendo que ya existe una etiqueta <span>wc-beru</span> en nuestro <span>index.html</span> procedemos a usar el siguiente bloque de código:</p>
		<Code code={usageExampleTwo} theme="catppuccin-latte" lang="js"></Code>
		<p>Al importar <span>toasts</span>, este por si mismo detecta si hay una instancia de nuestro elemento <span>wc-beru</span>.</p>
		<p>En el ejemplo de arriba llamamos a un método <span>display</span>, este nos permite renderizar  nuestro toast; inténtalo tu mismo: </p>
		<!-- Ejemplo -->
		<p>Cabe resaltar que <span>display</span> no es el único método disponible, <span>toast</span> ofrece otros métodos semánticos con diferentes estilos; mas adelante los conocerás.</p>
	</section>
	<section class="container">
		<h2>Parámetros opcionales</h2>
		<p>Los métodos que ofrece <span>toast</span>, como <span>display</span>, pueden recibir unos parámetros opcionales  aparte del mensaje principal, aquí un ejemplo de ello:</p>
		<Code code={optionalParamsExample} theme="catppuccin-latte" lang="js"></Code>
		<ul>
			<li><span>description</span> (string), nos permite dar mas contexto al mensaje principal.</li>
			<li><span>closeButton</span> (boolean), renderiza un botón para eliminar el toast.</li>
			<li><span>beruId</span> (string), renderiza el toast en una instancia de <span>wc-beru</span> especifica; mas adelante veremos un ejemplo.</li>
		</ul>
	</section>
</Layout>

<script>
	// import { toast } from "wc-beru"
	// import { codeToHtml } from 'shiki';

	// const code = 'const a = 1'; // input code
	// const html = await codeToHtml(code, {
	// 	lang: 'javascript',
	// 	theme: 'vitesse-dark',
	// });

	// const target = document.getElementById('result')
	// if (target) target.innerHTML = html
</script>