<div class="example">
    <div class="example-group" id="fullcolor">
        <button class="example-button" id="btn-default">Default</button>
        <button class="example-button" id="btn-success">Success</button>
        <button class="example-button" id="btn-warning">Warning</button>
        <button class="example-button" id="btn-info">Info</button>
        <button class="example-button" id="btn-error">Error</button>
    </div>
</div>