<div class="example">
    <div class="example-group" id="positions">
        <button class="example-button" id="position-top-left">Top left</button>
        <button class="example-button" id="position-top-center">Top center</button>
        <button class="example-button" id="position-top-right">Top right</button>
        <button class="example-button" id="position-bottom-left">Bottom left</button>
        <button class="example-button" id="position-bottom-center">Bottom center</button>
        <button class="example-button" id="position-bottom-right">Bottom right</button>
    </div>
</div>